/* @import url(//db.onlinewebfonts.com/c/1cfac2832ad49f16a3ea6b5c2287af2f?family=Mistral); */
@font-face {
    font-family: Mistral; /* Имя шрифта */
    src: url(../Components/source/font/copyofmistral2.ttf); /* Путь к файлу со шрифтом */
   }
a {
    text-decoration: none;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #222;
}

.all-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px;
    height: 100vh;
}

/* header */

.header {
    padding: 0px 71px;
    margin-bottom: 25px;
}

.header-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.header-name-text {
    font-size: 50px;
    color: white;
    font-family: Mistral;
}

.header-name-text p {
    font-family: "Monotype Corsiva" Cursive;
}

.header-name-text span {
    font-size: 50px;
    color: green;
}

.header-name-score {
    color: white;
    font-size: 1.171875rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    padding: 20px 0px;
}

.header-table-container {
    height: 34px;
    background-color: #007c5d;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 4px;
}

.header-table-item {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 4px;
}

.header-table-item-active {
    background-color: #00bc8c;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 4px;
}

.content-block {
    padding: 0px 71px;
}

.table-info {
    display: flex;
    justify-content: space-between;
}

/* voice container */

.voice-container {
    background-color: #303030;
    margin-bottom: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 0px 56px 0px 0px;
    border-radius: 0.3rem;
}

.voice-name {
    
    color: white;
    font-size: 40px;
    border-bottom: 1px solid #555;
}
.voice-name p{
    margin: 0px;
    padding: 0px;
}
.voice-picture {
    margin-right: 40px;
}

.voice-name-and-sound {
    width: 100%;
}

.voice-img {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 18px;
    background: cover;
}

/* select container */

.beard-table-container {
    border-radius: 3px;
    flex: 0 0 50%;
    max-width: 48%;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
    height: 283px;
}

.red-circule {
    background-color: red;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    transition: .1s;
}

.gray-circule {
    background-color: black;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    transition: .1s;
}

.green-circule {
    background-color: green;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    transition: .1s;
}

.beard-table-item {
    height: 47px;
    width: 100%;
    display: flex;
    padding: 18px 0px 0px 21px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.beard-table-item div {
    margin: -6px 0px;
}

.beard-table-item:hover {
    cursor: pointer;
    background-color: #444;
}

/* info container */

.info {
    display: flex;
    justify-content: space-between;
    height: 190px;
}

.info-image {
    width: 44%;
}

.info-image img {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    background-image: cover;
}

.info-name-sound {
    width: 50%;
}

.default-text {
    margin: 10px;
}

.info-container {
    border-radius: 3px;
    flex: 0 0 50%;
    max-width: 48%;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.info-name {
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
font-size: 1.40625rem;
}

.info-lastName {
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
    font-size: 0.9375rem;
}

/* footer */

.btn {
    width: 100%;
    margin: 25px 0px;
    background-color: #303030;
    border: 1px solid #444;
    color: #fff!important;
    cursor: auto;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 0.25rem;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}

.btn, .btn:focus {
    box-shadow: none;
}

.btn {
    outline: none;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
/* game over */
.game-over{
    padding: 4rem 2rem;
    background-color: #303030;
    border-radius: 0.3rem;
    display: block;
    margin: 0px 70px 0px 70px;
}
.endGame-h1{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center !important;
}
.endGame-p{
    font-size: 1.171875rem;
    font-weight: 300;
    text-align: center !important;
}
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
    }
.my-4{
    margin-top: 1.5rem !important;
    border-top: 1px solid #444;
    margin-bottom: 1.5rem !important;
}
.btn-game-over {
    width: 100%;
    padding: 15px;
    margin: 25px 0;
    background-color: #01a57c;
    border: 0;
    outline: none;
    border-radius: 4px;
}
.btn-game-over:hover{
    cursor: pointer;
    background-color: #00bc8c;
}